.submit-area {
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding: 50px;
    background-color: rgb(255, 255, 255);
}

.img-area {
    margin-top: 55px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding: 5px;
}

.bsub {
    width: 100%;
}

.box {
    background-color: aliceblue;
    margin-top: 5%;
    padding: 2%;

}

.log-text{

}

.animated-text .text-span {
    position: relative;
}

.animated-text .text-span::before {
    content: "Friends.";
    color: #28a745;
    animation: words 7s infinite;
    line-height: 1.5;
    font-size: 1.2em;
    font-weight: 600;
}


.animated-text .text-span::after {
    content: "";
    position: relative;
    width: 10px;
    height: 100%;
    background-color: aliceblue;
    /* border-left: .5px solid #28a745;
    right: -5px;
    animation: cursor .2s infinite; */
}

@keyframes cursor {
    to {
        border-left: 2px solid aliceblue;
        animation-duration: 1.5s;
    }
}

@keyframes words {

    0%,
    25% {
        content: "Friends.";
    }

    26%,
    50% {
        content: "Classmates.";

    }

    51%,
    75% {
        content: "Seniors.";

    }

    76%,
    100% {
        content: "Juniors.";

    }

}


.shadow-btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;

}

.shadow-btn {
    background: rgb(255, 25, 0);
    box-shadow: 0 0 25px rgb(113, 9, 9);
}

.shadow-btn:hover {
    box-shadow: 0 0 5px rgb(168, 28, 26),
        0 0 25px rgb(206, 14, 14),
        0 0 50px rgb(187, 11, 11),
        0 0 100px rgb(228, 7, 7);
}