
.shadow:hover{
    background-color: rgb(151, 151, 151);
    box-shadow: 5px 5px 10px rgb(151, 151, 151);
}
.backCLR{
    background-color: beige;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;
}